# Q1

In [ ]:
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [4]:
n=int(input("Enter a number: "))
def is_symmetrical(n):
    s=str(n)
    rs=s[::-1]
    if s==rs:
        return True
    else:
        return False
is_symmetrical(n)

Enter a number: 1112111

True

# Q2

In [ ]:
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [9]:
s=input("Enter a string of numbers which are separated by a comma and space: ")
def multiply_nums(s):
    m=1
    k=', '
    l=s.split(k)
    for i in l:
        m=m*int(i)
    print(m)
    
multiply_nums(s)

Enter a string of numbers which are separated by a comma and space: 1, 2, 3, 4
24

# Q3

In [ ]:
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [12]:
n=int(input("Enter a number: "))
def square_digits(n):
    l=[]
    s=str(n)
    for i in s:
        k=int(i)
        l.append(str(k**2))
    print(''.join(l))
square_digits(n)

Enter a number: 2483
416649

# Q4

In [ ]:
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [13]:
l=[1,3,3,5,5]
def setify(l):
    s=set(l)
    new_l=list(s)
    new_l.sort()
    print(new_l)
setify(l)

[1, 3, 5]

# Q5

In [ ]:
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [18]:
while True:
    n = input("Enter a number: ")
    try: 
        k=int(n)
        if type(k)==int:
            break
    except:
        print("please enter only integer value")
        
def cal_mean(n):
    l=list(n)
    s=0
    for i in range(0,len(l)):
        s+=int(l[i])
    print(int(s/len(l)))
cal_mean(n)

Enter a number: 234gyh7
please enter only integer value
Enter a number: 12345
3