# Q1

In [ ]:
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"

In [2]:
l=[5,6,7,8,9]
n=int(input("Enter a number: "))
def next_in_line(l,n):
    l.append(n)
    k=l[0]
    l.remove(k)
    return l
next_in_line(l,n)

Enter a number: 10

[6, 7, 8, 9, 10]

# Q2

In [ ]:
Create the function that takes a list of dictionaries and returns the sum of peoples budgets.
Examples
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600

In [6]:
l=[
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]

def get_budget(l):
    sum=0
    for i in range(0,len(l)):
        sum+=l[i]['budget']
    return sum
get_budget(l)

65700

# Q3

In [ ]:
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("edabit") ➞ "abdeit"
alphabet_soup("hacker") ➞ "acehkr"
alphabet_soup("geek") ➞ "eegk"
alphabet_soup("javascript") ➞ "aacijprstv"

In [8]:
n=input("Enter a string: ")
def alphabet_order(n):
    l=list(n)
    l.sort()
    print(''.join(l))
alphabet_order(n)

Enter a string: hello
ehllo

# Q4

In [ ]:
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

In [11]:
p=10000
t=10
n=12
r=0.06
def compound_interest(p,t,n,r):
    k=n*t
    return round(p*(1+(r/n))**k,2)
compound_interest(p,t,n,r)

18193.97

# Q5

In [ ]:
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
return_only_integer([10, "121", 56, 20, "car", 3, "lion]) ➞ [10, 56, 20,
3]
return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [13]:
l=[9, 2, "space", "car", "lion", 16]
def return_only_int(l):
    new_l=[]
    for i in l:
        if type(i)==int:
            new_l.append(i)
    return new_l
return_only_int(l)

[9, 2, 16]